#MPage1 {
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
}
#MPage1 #MPage1_form {
margin-bottom: 0px;
}
#MPage1 #MPage1_table {
width: 320px;
height: 480px;
border-width:0;
border-collapse:separate;
}
#MPage1 #MPage1_table td, #MPage1 #MPage1_table th {
padding:0;
vertical-align:top;
}
#MPage1 #MEdit1_outer {
z-index: 0;
left: 64px;
width: 203px;
height: 43px;
position: absolute;
top: 65px;

}
#MPage1 #MEdit1 {
width:203px;
height:43px;
}
#MPage1 #MLabel1_outer {
z-index: 1;
left: 70px;
width: 144px;
height: 27px;
position: absolute;
top: 143px;

}
#MPage1 #MLabel1 {
 font-family: Helvetica, Arial, sans-serif;
 font-size: 16px;
  width: 144px;
height: 27px;
}
#MPage1 #MButton1_outer {
z-index: 2;
left: 64px;
width: 150px;
height: 43px;
position: absolute;
top: 225px;

}
#MPage1 #MButton1_outer > div{ 
width: 150px;
height: 43px;
} 
